    <nav class="navbar navbar-expand-lg navbar-success bg-success ">
            <div class="container">
              <div class="navbar-brand text-white">PRODUCT INVENTORY</div>
              <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link text-white active" routerLink="/addProduct" href="javascript.void(0)">ADD PRODUCT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/showProduct" href="javascript.void(0)">PRODUCT LIST</a>
                  </li>
                 <!--  <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Multiplication" href="javascript.void(0)">Multiplication</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/Division" href="javascript.void(0)">Division</a>
                      </li> -->
                </ul>
              </div>
            </div>
          </nav>
